@charset "UTF-8";

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --fontePadrao: "Sansation", sans-serif;
    --fonteTexto: "Roboto", sans-serif;
    --fonteSerifada: "DM Serif Text", serif;
}

@media screen and (max-width: 1059px) {
    section.sobre-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    img.img-sobre {
        width: 60%;
        padding-top: 10px;
    }

    div.texto-apresentacao {
        font-size: 15px;
    }
}

@media screen and (max-width: 959px) {
     img.img-sobre {
        width: 40%;
    }

    div.texto-apresentacao {
        font-size: 13px;
    }
}

@media screen and (max-width: 880px) {
    section.sobre-container {
        display: flex;
        justify-content: center;
    }

    div.texto-apresentacao {
        font-size: 15px;
        text-align: center;
    }
}