@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fontePadrao: "Sansation", sans-serif;
    --fonteTexto: "Roboto", sans-serif;
    --fonteSerifada: "DM Serif Text", serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    cursor: url('cursor-navegacao.png') 10 10, auto;
}

header {
    background-color: black;
    border-bottom: 1.2px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-family: serif;
    font-size: 16px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

header > h1 {
    padding-top: 10px;
    padding-left: 20px;
}

header > h1 > span.titulo-header {
    margin-left: 30px;
    font-style: italic;
}

header > menu {
    padding-top: 50px;
    padding-right: 40px;
    font-family: var(--fonteSerifada);
    letter-spacing: 2px;
    font-size: 20px;
}

header > menu > a {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 15px;
}

header > menu > a:hover {
    text-shadow: 2px 0px 18px rgba(255, 255, 255, 0.918);
    transition-duration: .7s;
    cursor: pointer;
}

header > menu > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 0.1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

header > menu > a:hover::after {
    transform: scaleX(0.6);
}

header > menu > a:active {
    font-size: 15px;
    transition-duration: .7s;
}

i.material-icons {
    color: white;
    cursor: pointer;
    display: none;
    padding: 40px  30px;
}

/* SOBRE */

main {
    background-image:linear-gradient(to right, rgb(71, 71, 71), rgba(104, 104, 104), rgba(150, 150, 150), rgb(196, 196, 196));
    margin: 20px 20px;
    padding: 90px 40px;
}

section.sobre-container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;   
    flex-flow: row wrap;
}

img.img-sobre {
    padding-top: 30px;
    width: 100%;
}

div.texto-apresentacao {
    text-align: right;
    max-width: 35ch;
    font-size: 20px;
    font-family: var(--fontePadrao);
}

h2 {
    font-family: var(--fonteSerifada);
    padding-bottom: 5px;
}

main > section.apresentacao-sobre div.texto-apresentacao h2 {
    font-family: var(--fonteSerifada);
    font-size: 35px;
}

mark {
    background-color: rgba(0, 0, 0, 0.247);
    padding: 0 6px;
}

/* ESPECIALIDADE */

div.titulo-caixa {
    text-align: center;
}

div.titulo-caixa h1 {
    color: black;
    border-bottom: 2px solid black;
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.234);
    font-family: var(--fonteSerifada);
    font-size: 35px;
    letter-spacing: 4px; 
    text-transform: uppercase;
    padding-top: 150px;
    display: inline-block;
    margin-bottom: 20px;
}

section.especialidade-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 100px;
}

div.especialidade-caixa {
    display: flex;
    font-family: var(--fontePadrao);
    text-align: center;
    padding: 15px;
    flex: 0 1 48%;
    gap: 40px;
    border-radius: 3px;
    border: 1.3px solid black;
}

div.html-caixa:hover {
    box-shadow: 5px 5px 50px rgba(255, 68, 0, 0.568);
    color: orangered;
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.css-caixa:hover {
    box-shadow: 5px 5px 50px #2195f388;
    color: #2196F3;
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.js-caixa:hover {
    box-shadow: 5px 5px 50px #ffdd0086;
    color: #FFDF00;
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.py-caixa:hover {
    box-shadow: 5px 5px 50px #3D7AAB;
    color: #3D7AAB;
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.cmais-caixa:hover {
    box-shadow: 5px 5px 50px #00589c9c;
    color: #3D7AAB;
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.git-caixa:hover {
    box-shadow: 5px 5px 50px #F15A50;
    color: #F15A50;
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.github-caixa:hover {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.363);
    border: 1.3px solid black;
    transition-duration: 0.6s;
}

div.especialidade-texto {
    display: none;
    transition-duration: 0.9s;
}

/* Projetos  */

section.projeto-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

div.projeto-caixa {
    text-align: center;
    border-radius: 10px;
}

div.projeto-caixa > p {
    font-family: var(--fontePadrao);
    font-size: 20px;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px;
}

div.projeto-caixa > p > a {
    color: white;
    text-decoration: none;
}

div.projeto-caixa > p > a:hover {
    color: rgb(201, 201, 201);
    text-decoration: underline;
    transition-duration: .7s;
}

/* Contatos */

section.contato-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

div.texto-e-icons-contato h1 {
    font-family: var(--fonteTexto);
    font-size: 40px;
}

div.texto-e-icons-contato span {
    font-family: var(--fonteSerifada);
    font-style: italic;
}

div.texto-e-icons-contato p {
    font-family: var(--fonteTexto);
    font-size: 21px;
}

div.texto-e-icons-contato > div.icons-contato {
    padding-top: 15px;
}

div.texto-e-icons-contato > div.icons-contato > a {
    padding: 3px;
}

div.texto-e-icons-contato > div.icons-contato > a:hover {
    box-shadow: 2px 3px 4px rgba(46, 46, 46, 0.253);
    border-radius: 10px;
    transition-duration: .3s;
}